/*

!/.github
!/.changes
!/assets
!/cmd

!/.changie.yaml
!/.gitignore
!/.goreleaser.yaml
!/CHANGELOG.md
!/CONTRIBUTING.md
!/docs
!/go.mod
!/go.sum
!/homebrew.yml
!/LICENSE
!/main.go
!/Makefile
!/README.md

